* {
  font-family: 'Kanit', sans-serif;
}

body {
  margin: 0;
  background: #001724;
}

.navbar {
  z-index: 1;
  position: fixed;
  background-color: #003049;
  width: 100%;
  display: flex;
  flex-direction: column;
  padding: 5px;
  box-sizing: border-box;
}

.controls {
  width: 100%;
  display: flex;
}

.menutoggle {
  background: none;
  border: none;
  cursor: pointer;
}

.logo {
  padding: 0;
  margin-right: auto;
}

.logo img {
  height: 60px;
}

.navlinks {
  max-height: calc(100dvh - 30px);
  transition: max-height 1s ease-in-out;
  overflow: hidden;

  display: flex;
  flex-direction: column;
  text-align: center;
}

.navhidden>.navlinks {
  max-height: 0;
}

.menutoggle {
  aspect-ratio: 1 / 1;
  height: auto;
  position: relative;
}

.menutoggle * {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
  transition: opacity .1s ease;
}

.navhidden .menutoggle :nth-child(2) {
  opacity: 0;
}

.menutoggle :nth-child(1) {
  opacity: 0;
}

.navhidden .menutoggle :nth-child(1) {
  opacity: 1;
}

.offset-top {
  padding-top: 70px;
}

.offset-bot {
  padding-bottom: 6vw;
}

.content {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  min-height: 100dvh;
  position: relative;
}

.wave {
  position: absolute;
  z-index: -1;
  bottom: 0;
}

.footer {
  padding: 50px;
  height: 250px;
  color: white;
  background-color: black;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-sizing: border-box;
}

a {
  color: white;
  text-decoration: none;
}

.customa {
  border: solid 1px #003049;
  border-radius: 15px;
  padding: 20px;
  background-image: linear-gradient(90deg, #003049 50%, transparent 50%);
  background-size: 205%;
  background-position: 100% 100%;
  background-repeat: no-repeat;
  transition: all .3s ease-in-out;
}

.customa:hover {
  background-position: 0% 100%;
  transform: rotate(3deg) scale(1.1);
}

.underline {
  text-decoration: underline;
}
