.intro-front {
  height: 100vh;
  height: 100dvh;
  width: 100vw;
  width: 100dvw;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
}

.intro-front>span {
  font-size: min(10vh, 15vw);
  font-family: 'Kanit', sans-serif;
}

.intro-back {
  height: 100vh;
  height: 100dvh;
  display: flex;
  overflow: hidden;
}

.intro-back>img {
  width: 100%;
  object-fit: cover;
}

.arrdown {
  position: absolute;
  bottom: 1vh;
}
