.project {
  align-self: center;
  display: flex;
  flex-direction: column;
  color: white;
  max-width: 80vw;
  max-width: 80dvw;
}

.project .play {
  margin: 50px;
  width: fit-content;
}

.projimg {
  align-self: center;
  margin-top: 30px;
  max-height: 40vh;
  max-height: 40dvh;
  max-width: 80vw;
  max-width: 80dvw;
  height: auto;
  width: auto;
}
