body {
  min-height: 100vh;
  min-height: 100dvh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 30px;
  background-color: #001724;
}

.answer {
  display: grid;
  grid-template-columns: auto;
  gap: 20px;
}

.answer>button {
  font-size: 1.5rem;
}

button.wrong {
  background-color: #D62828;
}

.fi {
  width: 600px !important;
  max-width: 90%;
  aspect-ratio: 3/2;
}

.streak {
  position: relative;
  color: #D62828;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, .5);
  font-family: Arial;
  font-weight: 600;
  font-size: 1.5rem;
}

@media (min-width: 600px) {
  .answer {
    grid-template-columns: 1fr 1fr;
  }
  .answer>button {
    min-width: 280px;
  }
}

#lang-picker {
  display: none;
  position: fixed;
  width: 100vw;
  height: 100vh;
  height: 100dvh;
  background: #0005;
  align-items: center;
  justify-content: center;
}

.lang-picker {
  position: relative;
  color: white;
  background: #001724;
  border-radius: 30px;
  border: solid 1px #003049;
}

.lang-picker>div {
  margin: 4rem;
}

.lang-picker>div>span {
  margin-right: 50px;
}

.lang-picker>i {
  cursor: pointer;
  background: none;
  position: absolute;
  top: 10px;
  right: 10px;
  padding: 10px;
}

.lang-button {
  font-size: 2rem;
  color: white;
  position: absolute;
  top: 10px;
  right: 10px;
  background: #001724;
  border-radius: 10px;
  border: solid 1px #003049;
  padding: 15px;
}
